Pod::Spec.new do |s|
  s.name                = "WilddogMock"
  s.version             = "{{version}}"
  s.summary             = "WilddogMock project is just for testing fastlane script."

  s.description         = <<-DESC
                          DO NOT integrate this framework.
                          DESC

  s.homepage            = "https://www.wilddog.com/"
  s.license             = "Copyright"
  s.author              = "Wilddog Team"
  s.platform            = :ios, "8.0"

  s.source              = { :http => "https://cdn.wilddog.com/sdk/ios/{{version}}/WilddogVideo-{{version}}.zip"}

  s.vendored_frameworks = "WilddogVideo.framework"

  s.frameworks          = "AudioToolbox", "VideoToolbox", "AVFoundation", "GLKit", "CoreMedia", "UIKit", "Foundation", "MetalKit"
  s.library             = "c++"
  s.xcconfig            = { "OTHER_LDFLAGS" => "-ObjC" }

  s.dependency "WilddogVideoBase", "~> 2.1.0"

end
